{% extends 'base.html.twig' %}

{% block title %}Hello UserController!{% endblock %}

{% block body %}
<main id="main">

    <!-- ======= Blog Header ======= -->
    <div class="header-bg page-area">
        <div class="container position-relative">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="slider-content text-center">
                        <div class="header-bottom">
                            <div class="layer2">
                                <h1 class="title2">My Blog</h1>
                            </div>
                            <div class="layer3">
                                <h2 class="title3">Profesional Blog Page</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- End Blog Header -->

    <div id="about" class="about-area area-padding">
        <div class="container">
            <h1>{{ benutz.name }}</h1>
<img src="{{asset('bilder/' ~ benutz.bild)  }}">
        </div>
    </div>
</main>
{% endblock %}
